<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scheduled Rides</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/mapPage.css" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="header">
      <span id="schedule"><a href="/driverhome">Home</a></span>

      <span class="dropdown"
        ><a href="#" id="pass_name"><%= data.name%></a>
        <input type="hidden" id="pass_email" value="<%=data.email%>" />
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#" id="_carpool">Carpool</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/upload/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <div class="m-5">
      <h1 class="text-center text-dark">Similar Schedules</h1>
      <input
        type="text"
        name="search"
        id="_search"
        class="form-control w-25 m-auto"
        placeholder="Search.."
      />
      <br />
      <table class="table table-bordered table-dark text-center">
        <thead class="text-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Seat(s) Void</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i< rides.length; i++){ %>
          <tr>
            <td scope="row" class="text-info"><%=rides[i].id%></td>
            <td><%=rides[i].name%></td>
            <td><%=rides[i].phone%></td>
            <td><%=rides[i].email%></td>
            <td><%=rides[i].origion%></td>
            <td><%=rides[i].destination%></td>
            <td><%=rides[i].pickDate%></td>
            <td><%=rides[i].pickTime%></td>

            <td><%= 4 - rides[i].numberOfPassengers%></td>
            <td>
              <a
                href="/schedule/addpassenger/<%=rides[i].id%>"
                class="btn"
                style="background-color: #105b63; color: white;"
                >Request Pool</a
              >
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <script src="/scripts/scheduledRides.js"></script>
  </body>
</html>
