<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Passenger | Dashboard</title>
    <link rel="stylesheet" href="/styles/adminDashboard.css" />
  </head>
  <body>
    <h1>Passenger (<%=result.length%>)</h1>
    <div class="leftBody">
      <ul class="users">
        <li>
          <a href="/admindashboard/passenger" class="current">Passenger</a>
        </li>
        <li><a href="/admindashboard/driver">Driver</a></li>
        <li><a href="/admindashboard/requests">Driver Requests</a></li>
        <li>
          <a href="/admin" class="">Logout</a>
        </li>
      </ul>
    </div>
    <div class="info">
      <%for(let i = 0 ; i< result.length; i++){%>
      <ul>
        <h2><%=result[i].name%></h2>
        <li>Id : <%=result[i].id%></li>
        <li>Email : <%=result[i].email%></li>
        <li>phone No : <%=result[i].phone%></li>
      </ul>
      <%}%>
    </div>
  </body>
</html>
