<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passenger</title>
    <!-- <meta http-equiv="x-ua-compatible" content="IE=edge" /> -->

    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />

    <!----------------Map Dependencies-------------->

    <link rel="stylesheet" href="/styles/mapPage.css" />

    <!-- Axios -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="header">
      <span id="schedule"><a href="/passengerhome">Home</a></span>
      <span class="dropdown"
        ><a href="#"><%= data.name%></a>
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Schedule Ride</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/passengerlogin/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <!---->

    <!---------------------Booking Details------------------>
    <div id="no_pooling_rides">
      <h4>Currently no ride near to you</h4>
      <span>Book a ride and let others find you</span><br /><br />

      <a href="/passengerhome" id="cancel">Cancel</a>
      <a href="/passenger/casualride" id="book_ride">Book Ride</a>
    </div>
    <div class="bookingDetails">
      <div class="head"><h1 id="heading">All Nearby Rides</h1></div>
      <form
        action="/passenger/findpool/requestpool"
        id="search_form"
        method="GET"
      >
        <input
          type="hidden"
          id="pickLat"
          name="pickLat"
          value="<%=data.coordinates.origin.lat%>"
        />
        <input
          type="hidden"
          id="pickLng"
          name="pickLng"
          value="<%=data.coordinates.origin.lng%>"
        />
        <input
          type="hidden"
          name="dropLat"
          id="dropLat"
          value="<%=data.coordinates.destination.lat%>"
        />
        <input
          type="hidden"
          name="dropLng"
          id="dropLng"
          value="<%=data.coordinates.destination.lng%>"
        />
        <input type="hidden" id="fare" name="fare" value="<%=fare%>" />
        <input type="text" id="rideId" value="<%=rideId%>" />
        <br />
        <button id="" type="submit">Request Pool</button>
      </form>
      <hr />

      <div id="estimatedValues"></div>
    </div>

    <!-------------------------- Socket ---------------------->

    <!-- <script src="http://localhost:8080/socket.io/socket.io.js"></script>

    <script src="/web-sockets/passengerSocket.js"></script> -->

    <!------------------------ Map -------------------------->

    <div id="map" class="map"></div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=data.key%>&callback=initMap&libraries=places"
    ></script>

    <div id="data_name" data-params="<%=data.name%>"></div>
    <div id="data_email" data-params="<%=data.email%>"></div>
    <div id="data_phone" data-params="<%=data.phone%>"></div>
    <div id="data_socketId" data-params="<%=data.socketId%>"></div>
    <div id="table_name" data-params="<%=data.tableName%>"></div>
    <div id="booking_id" data-params="<%=data.bookingId%>"></div>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/scripts/finalPool.js"></script>
  </body>
</html>
