<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Driver</title>
    <!-- <meta http-equiv="x-ua-compatible" content="IE=edge" /> -->

    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />

    <!----------------Map Dependencies-------------->

    <link rel="stylesheet" href="/styles/mapPage.css" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Axios -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      #count-down {
        float: left;
        margin-left: 50%;
        margin-top: -7px;
        border: 1px solid black;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        display: none;
      }
      #pool_request_box {
        opacity: 0.8;
        position: absolute;
        top: 10%;
        left: 50%;
        z-index: 10;
        width: auto;
        border: 2px solid rgba(255, 255, 0, 0.596);
        border-radius: 10%;
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="container bg-light p-3" id="pool_request_box">
      <p id="req_message">New Pool Request</p>
      <button class="btn btn-sm btn-danger" id="reject_pool">Reject</button>
      <button class="btn btn-sm btn-success" id="accept_pool">Accept</button>
    </div>
    <div class="header">
      <h1 id="count-down"></h1>

      <span id="schedule"><a href="#" id="open_pool">Open Pool</a></span>
      <span class="dropdown"
        ><a href="#" id="user_name"><%= data.name%></a>
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/passengerlogin/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <!---->

    <!---------------------Booking Details------------------>

    <div class="bookingDetails">
      <div class="head"><h1 id="heading">Your ride is on its way</h1></div>
      <form action="/passenger/cancel-ride" id="search_form" method="POST">
        <!-- driver email -->
        <input
          type="hidden"
          name="driverEmail"
          id="driver_email"
          value="<%=driver.email%>"
        />
        <!-- passenger info -->
        <input type="hidden" id="_p_name" value="<%=data.name%>" />
        <input type="hidden" id="_p_phone" value="<%=data.phone%>" />
        <!-- passenger coordinates -->
        <input
          type="hidden"
          id="_lat"
          value="<%=data.coordinates.origin.lat%>"
        />
        <input
          type="hidden"
          id="_lng"
          value="<%=data.coordinates.origin.lng%>"
        />
        <!-- driver socket -->
        <input
          type="hidden"
          id="driver_socket_id"
          value="<%=driver.socketId%>"
        />
        <input
          type="hidden"
          name="passengerEmail"
          id="passenger_email"
          value="<%=data.email%>"
        />

        <!-- booking id -->
        <input
          type="hidden"
          name="bookingId"
          id="booking_id"
          value="<%=data.bookingId%>"
        />
        <!-- Table Name -->
        <input
          type="hidden"
          name="tableName"
          id="table_name"
          value="<%=data.tableName%>"
        />
        <h2><%=driver.name%></h2>
        <img
          src="<%=driver.picture%>"
          alt=""
          style="
            width: 100px;
            height: 100px;
            border: 2px solid #105b63;
            border-radius: 100%;
          "
        />

        <p>license Plate No. <%=driver.licensePlate%></p>
        <h2><%=driver.distance.text%> | <%=driver.time.text%></h2>
        <button id="cancel_ride_btn">Cancel Ride</button>
      </form>

      <hr />
      <p><%=driver.phone%></p>

      <div id="estimatedValues"></div>
    </div>

    <!-------------------------- Socket ---------------------->

    <script src="/socket.io/socket.io.js"></script>

    <!-- <script src="/web-sockets/passengerSocket.js"></script> -->

    <!------------------------ Map -------------------------->

    <div id="map" class="map"></div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=data.key%>&callback=initMap&libraries=places"
    ></script>
    <script src="/scripts/findRide.js"></script>
  </body>
</html>
