<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Schedules</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/mapPage.css" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="header">
      <span id="schedule"><a href="/schedule/backtobooking">Book Ride</a></span>

      <span id="schedule"
        ><a href="/schedule/scheduleRide">Set Schedule</a></span
      >
      <span class="dropdown"
        ><a href="#" id="pass_name"><%= data.name%></a>
        <input type="hidden" id="pass_email" value="<%=data.email%>" />
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#" id="_carpool">Carpool</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/passengerlogin/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <div class="m-5">
      <h1 class="text-center text-dark">My Schedules</h1>

      <table class="table table-bordered table-dark text-center">
        <thead class="text-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Status</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Seat(s) Void</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i< result.length; i++){ %>
          <tr>
            <td scope="row" class="text-info"><%=result[i].id%></td>
            <td><%=result[i].name%></td>
            <td><%=result[i].phone%></td>
            <td><%=result[i].email%></td>
            <td><%=result[i].role%></td>
            <td><%=result[i].origion%></td>
            <td><%=result[i].destination%></td>
            <td><%=result[i].pickDate%></td>
            <td><%=result[i].pickTime%></td>

            <td><%= 5 - result[i].numberOfPassengers%></td>
            <td>
              <a
                href="/schedule/delete/<%=result[i].id%>"
                class="btn btn-danger"
                >Delete Schedule</a
              >
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <script src="/scripts/schedultRides.js"></script>
  </body>
</html>
